brooklyn-services-chatbot-final.json
{
  "name": "Brooklyn Services Limited CB",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [-784, -336],
      "id": "chat-trigger-1",
      "name": "When chat message received"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer questions about Brooklyn Services Limited and its services as accurately and helpfully as possible.\n\nUser: {{$json.chatInput}}",
        "options": {
          "systemMessage": "=You are a friendly, knowledgeable assistant for Brooklyn Services Limited, specialising in plumbing, drainage, utility locating, and leak detection services for Christchurch and Canterbury.\n\n**COMPANY PROFILE:**\n- Founded: 2011 by Sam Aitken\n- 50+ years combined team experience\n- NO after-hours call-out fee (extremely rare!)\n- Rinnai & Electrolux authorized agents (Canterbury-wide)\n- Licensed plumbers and drainlayers\n- 24/7 emergency service available\n\n**SERVICES:**\n1. PLUMBING: Hot water cylinders, renovations, gas fitting, backflow, water filters\n2. DRAINAGE: Blocked drains (CCTV + water blaster), new installs, septic systems\n3. UTILITY LOCATING: GPR, electromagnetic detection (South Island-wide)\n4. LEAK DETECTION: Acoustic and thermal imaging (South Island-wide)\n\n**CONTACT:**\n- Emergency: 0800 1 BROOK (0800 127 665) - 24/7\n- Office: 03 349 7322\n- Mobile: 021 841 746\n- Email: sam@brooklynservices.co.nz\n\n**EMERGENCY DETECTION:**\nIf user mentions burst pipe, flooding, gas leak, sewage - IMMEDIATELY provide emergency number and emphasize NO after-hours fee!\n\n**TOOL USAGE:**\n- VS Docs: Use for service information from knowledge base\n- Web Search: Use for finding additional information about Brooklyn Services\n- Model Fallback: Use when primary model fails or for image analysis",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-480, -336],
      "id": "ai-agent-1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-512, -96],
      "id": "memory-1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contains ALL service information for Brooklyn Services Limited including plumbing, drainage, utility locating, leak detection services, pricing, and contact details.",
        "pineconeIndex": "brooklyn-services-kb",
        "topK": 5,
        "options": {
          "pineconeNamespace": "bsl-chatbot-v1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [-368, -112],
      "id": "vector-store-1",
      "name": "VS Docs"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [-272, 96],
      "id": "embeddings-1",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-672, -144],
      "id": "openrouter-model-1",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "resource": "search",
        "query": "={{ $json.chatInput }}",
        "options": {
          "searchDepth": "advanced",
          "maxResults": 5
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [-16, -112],
      "id": "tavily-1",
      "name": "Web Search"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "",
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.setZone(\"Pacific/Auckland\").format(\"DD HH:mm:ss\") }}",
            "Session_ID": "={{ $(\"When chat message received\").item.json.sessionId || \"N/A\" }}",
            "Customer_Input": "={{ $(\"When chat message received\").item.json.chatInput }}",
            "AI_Response": "={{ $json.output || $json.text || $json.response || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session_ID",
              "displayName": "Session_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer_Input",
              "displayName": "Customer_Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Response",
              "displayName": "AI_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [64, -336],
      "id": "google-sheets-1",
      "name": "Chat History"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output-1",
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [288, -336],
      "id": "edit-fields-1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "function unwrap(o) {\n  if (o === null || o === undefined) return '';\n  if (typeof o === 'string') {\n    var s = o.trim();\n    if (s.charAt(0) === '{' && s.charAt(s.length - 1) === '}') {\n      try {\n        var parsed = JSON.parse(s);\n        return unwrap(parsed);\n      } catch (e) {\n        if (s.charAt(0) === '\"' && s.charAt(s.length - 1) === '\"') return s.substring(1, s.length - 1);\n        return s;\n      }\n    }\n    if (s.charAt(0) === '\"' && s.charAt(s.length - 1) === '\"') return s.substring(1, s.length - 1);\n    return s;\n  }\n  if (typeof o === 'object') {\n    var keys = Object.keys(o);\n    if (keys.length === 1) return unwrap(o[keys[0]]);\n    try { return JSON.stringify(o); } catch (e) { return ''; }\n  }\n  return String(o);\n}\n\nvar source = ($json && typeof $json === 'object' && $json.text !== undefined) ? $json.text : $json;\nvar cleaned = unwrap(source);\nreturn { json: { text: cleaned } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, -336],
      "id": "code-1",
      "name": "Code"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_memory": [
        [
          {
            "node": "Simple Memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        [
          {
            "node": "VS Docs",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Web Search",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "ai_languageModel": [
        [
          {
            "node": "OpenRouter Chat Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "VS Docs": {
      "ai_embedding": [
        [
          {
            "node": "Embeddings OpenAI",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat History": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}